/* .top-buffer {
  height: 14.4vh;
}
.gallery-hero {
  height: 200px;
  width: 100%;
  background-image: url(${pool});
  background-position: 11% 14%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.illustration-gallery {
  width: 92%;
  margin: auto;
  -webkit-box-shadow: 1px 1px 3px #0000008c;
          box-shadow: 1px 1px 3px #0000008c;
  color: white;
  background-image: url(${wallpaper});
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 44vh;
  border: 2px solid #00000078;
}
.gallery-overlay {
  padding: 1% 1% 5%;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear,left top, right top,from(rgba(2,0,36,1)),color-stop(0%, rgba(1, 1, 2, 0.79)),to(rgba(177, 0, 255, 0.53)));
  background: -webkit-linear-gradient(left,rgba(2,0,36,1) 0%,rgba(1, 1, 2, 0.79) 0%,rgba(177, 0, 255, 0.53) 100%);
  background: -o-linear-gradient(left,rgba(2,0,36,1) 0%,rgba(1, 1, 2, 0.79) 0%,rgba(177, 0, 255, 0.53) 100%);
  background: linear-gradient(90deg,rgba(2,0,36,1) 0%,rgba(1, 1, 2, 0.79) 0%,rgba(177, 0, 255, 0.53) 100%)
}
.illustration-gallery h2 {
  margin: 0% 0% 5% 5%;
  text-shadow: 1px 1px 1px #00000082;
  z-index: 2;
  font-size: 42px;
}
.illustration-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
} */