.footer__container {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  text-shadow: -.5px .5px 1px black;
  display: flex;
  justify-content: space-between;
}
.footer__section {
  padding: 0 2% 1%;
  font-weight: bold;
}
address {
  font-style: normal;
}
@media screen and (max-width: 430px){
  .display-none-sm-scrn {
    display: none;
  }
  .footer__section--right {
    font-size: .9em;
  }
}
